.top {
  background-image: url('./images/bg_stripes.svg');
  height: 50%;
  position: absolute;
  top: 0px;
  width: 100%;
}

.bottom {
  background-image: url('./images/ground.svg');
  bottom: 0px;
  height: 50%;
  position: absolute;
  width: 100%;
} 

.lady {
  height: 350px;
  position: fixed;
  bottom: 0px;
  left: 1%;
}
